@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 20px;
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(to bottom, rgb(11, 75, 128), rgb(28, 47, 82));
}